.center {
    display: flex;
    border: 3px solid #73AD21;
    padding: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

.user {
    display: flex;
    padding: 10px;
    width: 800px;
    align-self: auto;
  }
  .error {
    color: red;
  }
  .success {
    color: green;
  } 